@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-size: 62.5%;
  background: linear-gradient(68.15deg, #2f2325 16.62%, #8e5d52 85.61%);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-imagem {
  height: 72px;
}

.cabecalho-menu ul {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: "Sarala", sans-serif;
  color: #fff2e7;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
}

.cabecalho-menu-item:hover {
  opacity: 0.8;
}

.conteudo {
  margin-bottom: 50px;
  border-top: 0.4px solid #fff2e7;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 60vh;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.conteudo-principal-escrito-titulo {
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 4.5rem;
  color: #fff2e7;
}

.conteudo-principal-escrito-subtitulo {
  font-family: "Sarala", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #ecd6c4;
}

.conteudo-principal-escrito-botao {
  width: 200px;
  background-color: #ecd6c4;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  font-family: "Sarala", sans-serif;
  font-weight: 400;
  padding: 10px 30px;
  font-size: 1.2rem;
  color: #2f2325;
  cursor: pointer;
  transition: width 0.5s;
}

.conteudo-principal-escrito-botao:hover {
  opacity: 0.8;
  width: 220px;
}

.conteudo-principal-imagem {
  height: 430px;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 50px;
}

.conteudo-secundario-titulo {
  border-bottom: 0.4px solid #fff2e7;
  padding-bottom: 20px;
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff2ef;
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  font-family: "Sarala", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #ecd6c4;
}

.rodape {
  padding: 32px;
  border-top: 0.4px solid #fff2e7;
}

.rodape-imagem {
  width: 200px;
  height: 48px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 1100px) {
  html {
    font-size:50%;
  }
  .cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px;
  }
  .cabecalho-imagem {
    width: 50px;
  }
  .conteudo-principal {
    flex-direction: column;
    height: auto;
    text-align: center;
  }
  .conteudo-principal-imagem {
    order: -1;
    width: 200px;
    height: 200px;
    margin: 20px;
  }
  .conteudo-secundario {
    max-width: 980px;
    width: 90%;
    margin: 50px auto auto auto;
    text-align: center;
  }
  .rodape-imagem {
    width: 150px;
  }
  /* Menu Mobile =========================*/
  nav {
    display: none;
  }
  .one,
  .two,
  .three {
    background-color: #ffffff;
    height:4px;
    width: 100%;
    margin: 6px auto;

    transition-duration: 0.3s;
  }
  .menu-toggle {
    width:40px;
    height: 30px;
    margin-right: 20px;
    position: absolute;
    right: 10px;
    top: 22px;
  }
  /* Tela Cheia */
  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: #8e5d52;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-section.on nav{
    display: block;
  }
  .menu-section.on .menu-toggle .one {
    transform:rotate(45deg) translate(7px,7px);
  }
  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }
  .menu-section.on .menu-toggle .three {
    transform:rotate(-45deg) translate(8px,-7px);
  }

  .menu-section.on nav ul{
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .menu-section.on nav ul li{
    display: inline-block;
    margin-bottom: 30px;
  }
  .menu-section.on nav ul li a {
    transition-duration: 0.5s;
    font-size: 2.5rem;
    font-weight: 400;
    padding-bottom: 5px;
    display: block;
    border-bottom: 2px solid transparent;
  }
  .menu-section.on nav ul li a:hover {
    border-bottom: 2px solid #fff;

  }
}